reference-apps/mule-jmx-metrics/src/main/mule/jmx-metrics.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:jmx="http://www.mulesoft.org/schema/mule/jmx"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
        http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
        http://www.mulesoft.org/schema/mule/jmx http://www.mulesoft.org/schema/mule/jmx/current/mule-jmx.xsd">

    <http:listener-config name="HTTP_Listener_config">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>

    <jmx:config name="JMX_Config" />

    <!-- Health check -->
    <flow name="health-flow">
        <http:listener config-ref="HTTP_Listener_config" path="/health" />
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{status: "UP", app: "mule-jmx-metrics"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>

    <!-- All metrics -->
    <flow name="metrics-all-flow">
        <http:listener config-ref="HTTP_Listener_config" path="/metrics" />
        <jmx:collect-metrics config-ref="JMX_Config" />
    </flow>

    <!-- CPU only -->
    <flow name="metrics-cpu-flow">
        <http:listener config-ref="HTTP_Listener_config" path="/metrics/cpu" />
        <jmx:collect-cpu config-ref="JMX_Config" />
    </flow>

    <!-- Memory only -->
    <flow name="metrics-memory-flow">
        <http:listener config-ref="HTTP_Listener_config" path="/metrics/memory" />
        <jmx:collect-memory config-ref="JMX_Config" />
    </flow>

    <!-- GC only -->
    <flow name="metrics-gc-flow">
        <http:listener config-ref="HTTP_Listener_config" path="/metrics/gc" />
        <jmx:collect-gc config-ref="JMX_Config" />
    </flow>

    <!-- Threads only -->
    <flow name="metrics-threads-flow">
        <http:listener config-ref="HTTP_Listener_config" path="/metrics/threads" />
        <jmx:collect-threads config-ref="JMX_Config" />
    </flow>

    <!-- Recent logs from ring buffer -->
    <!-- GET /logs?lines=100&level=WARN&pattern=error -->
    <flow name="logs-recent-flow">
        <http:listener config-ref="HTTP_Listener_config" path="/logs" />
        <jmx:get-recent-logs config-ref="JMX_Config"
                              lines="#[attributes.queryParams.lines default '100']"
                              level="#[attributes.queryParams.level]"
                              pattern="#[attributes.queryParams.pattern]" />
    </flow>

    <!-- List log files -->
    <flow name="logs-files-flow">
        <http:listener config-ref="HTTP_Listener_config" path="/logs/files" />
        <jmx:list-log-files config-ref="JMX_Config" />
    </flow>

    <!-- Tail a log file -->
    <!-- GET /logs/tail?file=mule-app.log&lines=200 -->
    <flow name="logs-tail-flow">
        <http:listener config-ref="HTTP_Listener_config" path="/logs/tail" />
        <jmx:tail-log-file config-ref="JMX_Config"
                            fileName="#[attributes.queryParams.file default 'mule_ee.log']"
                            lines="#[attributes.queryParams.lines default '100']" />
    </flow>

    <!-- Search a log file -->
    <!-- GET /logs/search?file=mule-app.log&pattern=ERROR&lines=50 -->
    <flow name="logs-search-flow">
        <http:listener config-ref="HTTP_Listener_config" path="/logs/search" />
        <jmx:search-log-file config-ref="JMX_Config"
                              fileName="#[attributes.queryParams.file default 'mule_ee.log']"
                              pattern="#[attributes.queryParams.pattern default 'ERROR']"
                              lines="#[attributes.queryParams.lines default '50']" />
    </flow>

</mule>
