mule-data-partitioner/src/main/mule/data-partition.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:datapartition="http://www.mulesoft.org/schema/mule/datapartition"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
        http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
        http://www.mulesoft.org/schema/mule/datapartition http://www.mulesoft.org/schema/mule/datapartition/current/mule-datapartition.xsd">

    <http:listener-config name="HTTP_Listener_config">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>

    <datapartition:config name="DataPartition_Config" />

    <flow name="health-flow">
        <http:listener config-ref="HTTP_Listener_config" path="/health" />
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{status: "UP", app: "mule-data-partitioner"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>

    <flow name="test-csv-partition-flow">
        <http:listener config-ref="HTTP_Listener_config" path="/test/csv">
            <http:response statusCode="200">
                <http:headers><![CDATA[#[{'Content-Type': 'application/json'}]]]></http:headers>
            </http:response>
        </http:listener>
        <set-variable variableName="partitionSize" value="#[attributes.queryParams.partitionSize default '1']" />
        <set-variable variableName="sizeUnit" value="#[attributes.queryParams.sizeUnit default 'KB']" />
        <datapartition:partition-csv config-ref="DataPartition_Config"
                                      partitionSize="#[vars.partitionSize as Number]"
                                      sizeUnit="#[vars.sizeUnit]"
                                      includeHeader="true">
            <non-repeatable-iterable />
        </datapartition:partition-csv>
        <set-variable variableName="results" value="#[[]]" />
        <foreach>
            <set-variable variableName="results" value="#[vars.results + [{
                index: vars.counter,
                sizeBytes: sizeOf(payload as String),
                lines: sizeOf((payload splitBy '\n') filter ($ != ''))
            }]]" />
        </foreach>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{totalPartitions: sizeOf(vars.results), partitions: vars.results}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>

    <flow name="test-json-partition-flow">
        <http:listener config-ref="HTTP_Listener_config" path="/test/json">
            <http:response statusCode="200">
                <http:headers><![CDATA[#[{'Content-Type': 'application/json'}]]]></http:headers>
            </http:response>
        </http:listener>
        <set-variable variableName="partitionSize" value="#[attributes.queryParams.partitionSize default '1']" />
        <set-variable variableName="sizeUnit" value="#[attributes.queryParams.sizeUnit default 'KB']" />
        <datapartition:partition-json config-ref="DataPartition_Config"
                                       partitionSize="#[vars.partitionSize as Number]"
                                       sizeUnit="#[vars.sizeUnit]">
            <non-repeatable-iterable />
        </datapartition:partition-json>
        <set-variable variableName="results" value="#[[]]" />
        <foreach>
            <set-variable variableName="results" value="#[vars.results + [{
                index: vars.counter,
                sizeBytes: sizeOf(payload as String),
                items: sizeOf(read(payload, 'application/json'))
            }]]" />
        </foreach>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{totalPartitions: sizeOf(vars.results), partitions: vars.results}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>

    <flow name="test-csv-stream-flow">
        <http:listener config-ref="HTTP_Listener_config" path="/test/csv-stream"
                        outputMimeType="text/csv; streaming=true">
            <non-repeatable-stream />
            <http:response statusCode="200">
                <http:headers><![CDATA[#[{'Content-Type': 'application/json'}]]]></http:headers>
            </http:response>
        </http:listener>
        <set-variable variableName="partitionSize" value="#[attributes.queryParams.partitionSize default '50']" />
        <set-variable variableName="sizeUnit" value="#[attributes.queryParams.sizeUnit default 'MB']" />
        <set-variable variableName="startTime" value="#[now()]" />
        <datapartition:partition-csv config-ref="DataPartition_Config"
                                      partitionSize="#[vars.partitionSize as Number]"
                                      sizeUnit="#[vars.sizeUnit]"
                                      includeHeader="true">
            <non-repeatable-iterable />
        </datapartition:partition-csv>
        <set-variable variableName="results" value="#[[]]" />
        <foreach>
            <datapartition:count-lines config-ref="DataPartition_Config" />
            <set-variable variableName="results" value="#[vars.results + [{index: vars.counter, bytes: payload.bytes, lines: payload.lines}]]" />
        </foreach>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{totalPartitions: sizeOf(vars.results), partitionSize: vars.partitionSize ++ vars.sizeUnit, elapsedMs: (now() - vars.startTime) as Number {unit: "milliseconds"}, partitions: vars.results}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>

    <flow name="test-json-stream-flow">
        <http:listener config-ref="HTTP_Listener_config" path="/test/json-stream"
                        outputMimeType="application/json; streaming=true">
            <non-repeatable-stream />
            <http:response statusCode="200">
                <http:headers><![CDATA[#[{'Content-Type': 'application/json'}]]]></http:headers>
            </http:response>
        </http:listener>
        <set-variable variableName="partitionSize" value="#[attributes.queryParams.partitionSize default '1']" />
        <set-variable variableName="sizeUnit" value="#[attributes.queryParams.sizeUnit default 'KB']" />
        <set-variable variableName="startTime" value="#[now()]" />
        <datapartition:partition-json config-ref="DataPartition_Config"
                                       partitionSize="#[vars.partitionSize as Number]"
                                       sizeUnit="#[vars.sizeUnit]">
            <non-repeatable-iterable />
        </datapartition:partition-json>
        <set-variable variableName="results" value="#[[]]" />
        <foreach>
            <datapartition:count-json-items config-ref="DataPartition_Config" />
            <set-variable variableName="results" value="#[vars.results + [{index: vars.counter, bytes: payload.bytes, items: payload.items}]]" />
        </foreach>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{totalPartitions: sizeOf(vars.results), partitionSize: vars.partitionSize ++ vars.sizeUnit, elapsedMs: (now() - vars.startTime) as Number {unit: "milliseconds"}, partitions: vars.results}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>

</mule>
