mule-csv-file-split-module/src/test/resources/test-mule-config.xml
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:file="http://www.mulesoft.org/schema/mule/file"
      xmlns:csvfilesplit="http://www.mulesoft.org/schema/mule/csvfilesplit"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
			  http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
			  http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
			  http://www.mulesoft.org/schema/mule/csvfilesplit http://www.mulesoft.org/schema/mule/csvfilesplit/current/mule-csvfilesplit.xsd ">

  <file:config name="File_Config">
    <file:connection workingDir="/home/myst/AnypointStudio/dev/mule-custom-modules/mule-csv-file-split-module" /> 
  </file:config>
    <csvfilesplit:config name="config-impl">
    </csvfilesplit:config>

    <csvfilesplit:config name="config-command" splitCmd="/usr/bin/split">
    </csvfilesplit:config>

    <flow name="split-csv">
      <csvfilesplit:split-csv config-ref="config-impl" srcFilePath="test-resources/bom.csv" line="50" chunkSize="100"/>
    </flow>

    <flow name="split-csv-from-stream">
      <file:read  config-ref="File_Config" path="test-resources/bom.csv" outputMimeType="application/csv; streaming=true">
	<!-- Default setting is repeatable-in-memory, therefore BUFFER MEMORY EXHAUSED occurs -->
		<non-repeatable-stream />
      </file:read>
      
      <csvfilesplit:split-csv config-ref="config-impl" input="#[payload]" line="500" chunkSize="100"/>
    </flow>

    <flow name="split-csv-by-command">
      <csvfilesplit:split-csv config-ref="config-command" srcFilePath="test-resources/bom.csv"/>
    </flow>

    <flow name="split-and-concat">
      <csvfilesplit:split-csv config-ref="config-impl" srcFilePath="test-resources/bom.csv" line="100"/>
      <csvfilesplit:concat config-ref="config-impl" dstFilePath="test-resources/result.csv" isDeleteTempFiles="true"/>
    </flow>

</mule>
