mule-csv-file-split-module/src/test/resources/test-mule-config.xml
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:file="http://www.mulesoft.org/schema/mule/file"
      xmlns:csvfilesplit="http://www.mulesoft.org/schema/mule/csvfilesplit"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
			  http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
			  http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
			  http://www.mulesoft.org/schema/mule/csvfilesplit http://www.mulesoft.org/schema/mule/csvfilesplit/current/mule-csvfilesplit.xsd ">

  <file:config name="File_Config">
    <file:connection workingDir="/home/myst/AnypointStudio/dev/mule-custom-modules/mule-csv-file-split-module" /> 
  </file:config>

  
    <csvfilesplit:config name="config-impl">
      <csvfilesplit:connection/>
    </csvfilesplit:config>

    <csvfilesplit:config name="config-impl-cmd" splitCmd="/usr/bin/split">
      <csvfilesplit:connection/>
    </csvfilesplit:config>

    <flow name="split-csv-only-500-100-20">
      <csvfilesplit:split-csv config-ref="config-impl" srcFilePath="test-resources/bom.csv" line="500" chunkSize="100"/>
    </flow>

    <flow name="split-csv-50-100-200">
      <csvfilesplit:split-csv config-ref="config-impl" srcFilePath="test-resources/bom.csv" line="50" chunkSize="100"/>
      <csvfilesplit:concat config-ref="config-impl" dstFilePath="/tmp/mule-work/result-50-100-200.csv"  isDeleteTempFiles="false"/>
    </flow>

    <flow name="split-csv-22-33-455">
      <csvfilesplit:split-csv config-ref="config-impl" srcFilePath="test-resources/bom.csv" line="22" chunkSize="33"/>
      <csvfilesplit:concat config-ref="config-impl" dstFilePath="/tmp/mule-work/result-22-33-455.csv"  isDeleteTempFiles="false"/>
    </flow>

    <!-- larger line option than actual file -->
    <flow name="split-csv-50000-100-1">
      <csvfilesplit:split-csv config-ref="config-impl" srcFilePath="test-resources/bom.csv" line="50000" chunkSize="100"/>
      <csvfilesplit:concat config-ref="config-impl" dstFilePath="/tmp/mule-work/result-50000-100-1.csv"  isDeleteTempFiles="false"/>
    </flow>

    <!-- larger line option than actual file -->
    <flow name="split-csv-100-50000-1">
      <csvfilesplit:split-csv config-ref="config-impl" srcFilePath="test-resources/bom.csv" line="100" chunkSize="50000"/>
      <csvfilesplit:concat config-ref="config-impl" dstFilePath="/tmp/mule-work/result-100-50000-1.csv"  isDeleteTempFiles="false"/>
    </flow>


    <flow name="split-csv-by-cmd-50-100-200">
      <csvfilesplit:split-csv config-ref="config-impl-cmd" srcFilePath="test-resources/bom.csv" line="50" chunkSize="100"/>
      <csvfilesplit:concat config-ref="config-impl-cmd" dstFilePath="/tmp/mule-work/result-by-cmd-50-100-200.csv"  isDeleteTempFiles="false"/>
    </flow>

    <flow name="split-csv-from-stream-50-100-200">
      <file:read  config-ref="File_Config" path="test-resources/bom.csv" outputMimeType="application/csv; streaming=true">
	<!-- Default setting is repeatable-in-memory, therefore BUFFER MEMORY EXHAUSED occurs -->
		<non-repeatable-stream />
      </file:read>
      
      <csvfilesplit:split-csv config-ref="config-impl" input="#[payload]" line="50" chunkSize="100"/>
      <csvfilesplit:concat config-ref="config-impl" dstFilePath="/tmp/mule-work/result-stream-50-100-200.csv"  isDeleteTempFiles="false"/>
    </flow>

    <flow name="split-csv-large-file-50-100-200">
      <csvfilesplit:split-csv config-ref="config-impl" srcFilePath="test-resources/bom-G.csv" line="1100000" chunkSize="930"/>
      <csvfilesplit:concat config-ref="config-impl" dstFilePath="/tmp/mule-work/result-large-50-100-200.csv"  isDeleteTempFiles="false"/>
    </flow>

    <flow name="clean-temporary-dir">
      <csvfilesplit:clean-temporary-dir config-ref="config-impl"/>
    </flow>


</mule>
